.App {
  text-align: center;
  background-color:brown lighten-5;
  width: 100vw;
  height: 100vh;
  position: absolute
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

textarea {
  height: 20vh;
}

.dash-container {
  height: 100%;
  position: relative;
}

.card.small{
  height: 200px
}

.card-content.small{
  padding: 25px
}

.char-title{
  font-size:1.3rem
}
