
/* CSS NOTES */
/* QUEST LOG
  Master Styles
  Author: Michael Diedricks (michael.diedricks@gmail.com)
*/
/* #C79F6B
#B36040
#564639
#F3E5C8 */

/* GLOBAL SETTINGS */
:root{
  --back-1: #f9f4ef;
  --card-1: #eaddcf;
  --card-2: #8c7851;
  --illus-1: #716040;
  --illus-2: #f25042;
  --line-1: #020826;

}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
  background-color: var( --back-1);
  font-family: 'Vollkorn', serif;
}

.App{
  position: relative;
  min-height: 100vh;
  padding-bottom: 2rem;
}

a{
  color: var(--illus-1);
  text-decoration: none;
}
a:hover{
  color: var(--col-1);
  text-decoration: none;
}


/* BASE STYLES */
.container{
  margin: 0 15%;
}

.t1{
  font-size: 4rem;
  /* padding-bottom: 2rem; */
}
.t2{
  font-size: 1.5rem;
  /* padding-bottom: 2rem; */

}
.t3{
  font-size: 1.2rem;
  /* padding-bottom: 2rem; */
}
.t4{
  font-size: 1rem;
  /* padding-bottom: 2rem; */
}
.t5{
  font-size: 0.8rem;
  /* padding-bottom: 2rem; */
}
.hor-bar{
  height: 2px;
  width: 50%;
  background: var(--illus-1);
  margin: 2rem auto;
}
/* NAVIGATION */
nav{
  background-color: var(--back-1);
  padding: 1.3rem 0;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 1.7rem;
}


/* PAGE STRUCTURE */

/* home page */
.jumbotron{
  display: flex;
  flex-direction: row;
  height: 40%;
  padding: 2rem 3rem 0 0;
  color: var(--illus-1);
}
.jumbotron img{
  height: 250px;
  padding-right:3rem ;
  color: var(--illus-1);
}
.jumbo-title{
  display: block;
  margin-bottom: 1.5rem;
}
.jumbo-sub{
  display: block;
  margin-bottom: 1rem;
}
.game-list{
  padding: 1rem;
}
.game-list li{
  list-style: none;
  color: var(--illus-1);
}

.card{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--card-1);
  background: 
    linear-gradient(135deg, transparent 10px, var(--card-1) 0) top left,
		linear-gradient(225deg, transparent 10px, var(--card-1) 0) top right,
		linear-gradient(315deg, transparent 10px, var(--card-1) 0) bottom right,
    linear-gradient(45deg,  transparent 10px, var(--card-1) 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, var(--card-1) 15px);
  box-shadow: 5px 5px 50px 2px 0.3 #464545;
}
.card-image img{
  height: 5rem;
  margin: 0 2rem 0 0;
}
.card-title{
  display: block;
  color: var(--card-2);
  margin-bottom: 1rem;
}
.card-title:hover{
  color: var(--illus-2);
}
.card-text{
  display: block;
  color: var(--card-2);
  margin-bottom: 1rem;
}
.card-location{
  color: var(--illus-1);
}
.game-card{
  justify-content: flex-start;
}
.game-delete{
  align-self: flex-end;
}


/* create */
.form{
  margin: 3rem auto;
  padding: 2rem;
  max-width: 60%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.form-title{
  color: var(--card-2);
  display: block;
  margin-bottom: 1rem;
}
.input-field{
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-text{
  color: var(--card-2);
  display: block;
}
input{
  border-radius: 4px;
  height: 2rem;
  padding: 0.5rem;
  background-color: var(--card-1);
  border: none;
  font-family: 'Vollkorn', serif;
  width: 90%;
}
input:focus{
  background-color: var(--back-1);
  border: none;
}
textarea{
  border-radius: 4px;
  font-family: 'Vollkorn', serif;
  border: none;
  padding: 0.5rem;
  background-color: var(--card-1);
  width: 90%;
  resize: none;
}
textarea:focus{
  background-color: var(--back-1);
}
.button{
  border: none;
  text-decoration: none;
  color: var(--back-1);
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem ;
  background: var(--card-2);
  background: 
    linear-gradient(135deg, transparent 10px, var(--card-2) 0) top left,
		linear-gradient(225deg, transparent 10px, var(--card-2) 0) top right,
		linear-gradient(315deg, transparent 10px, var(--card-2) 0) bottom right,
    linear-gradient(45deg,  transparent 10px, var(--card-2) 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(circle at 0 0, rgba(204,0,0,0) 8px, var(--card-2) 8px),
    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 8px, var(--card-2) 8px),
    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 8px, var(--card-2) 8px),
    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 8px, var(--card-2) 8px);
  box-shadow: 5px 5px 50px 2px 0.3 #464545; 
}
.button:hover{
  background: var(--illus-1);
  background: 
    linear-gradient(135deg, transparent 10px, var(--illus-1) 0) top left,
		linear-gradient(225deg, transparent 10px, var(--illus-1) 0) top right,
		linear-gradient(315deg, transparent 10px, var(--illus-1) 0) bottom right,
    linear-gradient(45deg,  transparent 10px, var(--illus-1) 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(circle at 0 0, rgba(204,0,0,0) 8px, var(--illus-1) 8px),
    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 8px, var(--illus-1) 8px),
    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 8px, var(--illus-1) 8px),
    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 8px, var(--illus-1) 8px);
  box-shadow: 5px 5px 50px 2px 0.3 #464545;
}



/* GAME */
.game-content{
  display: grid;
  grid-template-rows: 1fr 2.6fr;
  grid-row-gap: 10px;
}
.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  color: var(--illus-2);
}
.character{
  flex-direction: column;
  align-items: flex-start;
}
.char-stat input{
  border: none;
  padding: 0;
}
.char-name{
  font-size: 1rem;
  color: var(--illus-2);
  width: 80%;
  padding: 0;
}
.char-label{
  font-size: 0.6rem;
  display: inline;
}
.char-text{
  font-size: 0.8rem;
}
.char-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.char-stat{
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.char-stat label{
  font-size: 0.6rem;
}
.stat{
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0 0.3rem 0 0;
}
.stat-icon{
  height: 15px;
  margin: 0.2rem;
}
.char-btn{
  font-size: 0.6rem;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
select{
  border: none;
  background-color: var(--card-1);
  color: var(--illus-1);
  font-size: 0.8rem;
}
.char-card{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--card-1);
  background: 
    linear-gradient(135deg, transparent 10px, var(--card-1) 0) top left,
		linear-gradient(225deg, transparent 10px, var(--card-1) 0) top right,
		linear-gradient(315deg, transparent 10px, var(--card-1) 0) bottom right,
    linear-gradient(45deg,  transparent 10px, var(--card-1) 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  background-image: 
    radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, var(--card-1) 15px),
    radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, var(--card-1) 15px);
  box-shadow: 5px 5px 50px 2px 0.3 #464545;
}
.char-card-image img{
  height: 5rem;
  margin: 0 2rem 0 0;
}

/* GAME CONTROLS */
.controls{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 10px;
}
.game-detail{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.game-text{
  
}

.music{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.music-box{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.music-box img{
  width: 70%;
  height: 70%;
  margin-bottom: 0.7rem;
}
.music-text{
  color: var(--illus-1);
}


/* FOOTER */
/* footer{
  background-color: var(--nav-grey);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; 
}
.footer{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
} */

/* MEDIA QUERIES */



/* TEST BUILD STYLES */

.test{
  border: 1px solid black;
  /* background-color: var(--icon-grey); */
}